.NewMessage {
  background-color: rgb(105, 210, 245);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.NewMessage__title {
  color: #282c34;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  border: none;
  border-radius: 10%;
  padding: 10px;
}

.NewMessage__button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.NewMessage__button:hover {
  text-decoration: underline;
}
